<div class="container w-50 h-25">
  <h1 class="heading">Short URL</h1>
<router-outlet></router-outlet>
</div>
<footer>
  <div class="footer">
    <div>© 2022 ShortUrl.at - Tool to shorten a long link.</div>
    <ul class="mt-2">
      <li><a href="#">ShortUrl.at</a></li>
      <li>|</li>
      <li><a href="#">URL Click a Counter</a></li>
      <li>|</li>
      <li><a href="#">Report Malicious</a></li>
      <li>|</li>
      <li><a href="#">TermofService</a></li>
      <li>|</li>
      <li><a href="#">Privacy</a></li>
      <li>|</li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</footer>